.social-links
  font-family FontAwesome
  font-size 3em
  ul
    list-style none
    padding 0
    margin 0
  ul li
    display inline-block
    margin-right 30px


.icon-github:before
  content "\f092";
.icon-twitter:before
  content "\f099"
.icon-facebook:before
  content "\f09a"
.icon-stack-overflow:before
  content "\f16c"
.icon-email:before
  content: "\f003"
